body {
    font-family: sans-serif;
    font-size: 1.12rem;
    line-height: 1.6;
}

h1 {
    text-align: center;
    font-size: 3rem;
    line-height: 1.1;
}

header {
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    inline-size: none;
}

footer {
    padding: 25px;
    text-align: center;
    background-color: #695d46;
    color: #ffffff;
}

.project {
    text-align: center;
    border: 2px solid red;
    background-color: aqua;
   margin-block: 10px;
}
